<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.mybatis.mapper.CommentMapper">
  <cache />

    <insert id="registerComment">
      INSERT INTO COMMENT_TB(COMMENT_ID, WRITER, COMMENT_CREATE_DATE, COMMENT_CONTENT)
      VALUES(#{comment_id}, #{writer}, #{comment_create_date}, #{comment_content})
    </insert>

    <select id="getComment" resultType="com.example.demo.domain.Comment" parameterType="Integer">
      SELECT *FROM COMMENT_TB
      WHERE COMMENT_ID = #{comment_id}
    </select>
</mapper>

