<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.mybatis.mapper.CommentMapper">
  <cache />

    <insert id="registerComment">
      INSERT INTO STUDY(COMMENT_ID, WRITER, COMMENT_CREATE_DATE, COMMENT_CONTENT)
      VALUES(comment_seq.NEXTVAL, #{comment_writer}, #{comment_create_date}, #{comment_content})
    </insert>
</mapper>

