<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.mybatis.mapper.StudyMapper">
  <cache />

    <insert id="registerStudy">
      INSERT INTO STUDY(STUDY_ID, STUDY_TITLE, STUDY_CATEGORY, STUDY_NUM,
        STUDY_ONOFF, STUDY_REGION, WRITER, STUDY_CONTENT, STUDY_CREATE_DATE, STUDY_STATE)
      VALUES(study_seq.NEXTVAL, #{study_title}, #{study_category}, #{study_num}, #{study_onoff},
      #{study_region}, #{writer}, #{study_content}, #{study_create_date}, #{study_state})
    </insert>

    <select id="getStudyList" resultType="com.example.demo.domain.Study">
        SELECT *FROM STUDY
    </select>

    <select id="getStudy" resultType="com.example.demo.domain.Study" parameterType="Integer">
      SELECT  *
      FROM STUDY
      WHERE STUDY_ID = #{study_id}
    </select>

    <select id="getStudyCategory" resultType="com.example.demo.domain.Study">
      SELECT  *
      FROM STUDY
      WHERE STUDY_CATEGORY = #{study_category}
    </select>
</mapper>

