#Header{
    height: 100px;
    display: flex; /*수평 정렬*/
    border-bottom: 2px solid #F1F1F1;
    margin-left: 20px;
    margin-right: 20px;
}

/*로고-------------------------------------------------*/
#header-content1{
    display: flex;
    margin: auto 0px auto 0px; 
    text-decoration-line: none;
}

#logo-image{
    margin-bottom: 10px;
    width: 50px;
    margin-left: 20px;
}

#logo-image-swim{
    width: 45px;
    margin-top: 25px;
    margin-right: 0px;
}

#logo-text{
    font-weight: bold;
    color: #93B7FF;
    font-size: 35px;
    margin-left: 10px;
}

/*헤더 버튼-----------------------------------------------*/
#header-content2{
    display: flex;
    margin: auto 70px auto auto;
}

#header-botton-box2{
    margin-left: 29px;
}

#new-wirte-btn, #login-btn{
    background-color: #F1F1F1;
    width: 120px;
    height: 40px;
    border-style: none;
    border-radius: 50px;
    font-size: 15px;
}

/*로그인 시 프로필*/
#header_profile{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 30px;
    position: relative;
}

#image-profile{
    width: 42px;
    height: 42px;
    border-radius: 20px;
}

/*프로필 박스*/
#profile_modal{
    z-index: 5;
    margin-top: 65px;
    position: absolute;
    width: 190px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background: #FFF;
}

.profile_list{
    display: flex;
    justify-content: center;
    width: 150px;
    position: relative;
    padding: 12px;
    font-size: 16px;
    margin: 10px auto;
    border-radius: 10px;
    background: #F2F2F2;
}