#Main{
    border: 1px solid black;
    width: 100vw;
    height: 75vh;
}
.main-content1, .main-content2, .main-content3{
    color: #788088;
    font-size: 70px;
    font-weight: 700; /*글자 굵기*/
    width: 686px;
    margin: 100px auto auto 156px; /*순서대로 위, 오른쪽, 아래, 왼쪽 간격 조정*/
    text-align: left;
}

/*문구2(SWIM)*/
.main-content2{
    margin-top: 0px; /*위쪽 간격을 없앨 때*/
    color: #93B7FF; /*글자색 적용*/
}

/*홈페이지 설명 박스*/
.main-content3{
    font-size: 18px;
    color: black;
    font-weight: 1;
    margin-top: 0px;
    height: 90px;
}

/*버튼 박스*/
.main-content4{
    display: flex;
    width: 686px;
    margin: 30px auto auto 156px;
}

.main-btn-box2{
    margin-left: 30px; 
}

/*글 보러가기, signup 버튼*/
#study-list-btn, #signup-btn{
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background-color: #F1F1F1;
    border-style: none;
}

.study-list-btn-text{
    margin-left: 12px; 
    font-size: 22px;
}

/*signup 버튼*/
#signup-btn{
    background-color: #93B7FF;
}

.signup-btn-text{
    color: white;
    font-size: 22px;
    margin-right: 12px;
}

