#study-list-header{
    display: flex;
    margin-top: 30px;
}

/*인기, 최신, 전체 선택 박스*/
.study-list-header-content1{
    display: flex;
    margin-left: 50px;
}

.study-list-header-content1-text{
    font-size: 30px;
    font-weight: 700;
    height: 38px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 20px;
}

/*검색 박스----------------------------------*/
.study-list-header-content2{
    display: flex;
    margin-left: 120px;
}

.search-box{
    border: 1.5px solid #788088;
    display: flex;
    margin: auto 0px;
    width: 500px;
    height: 70px;
    border-radius: 20px;
}

/*검색 입력 박스*/
.search-input-box{
    font-size: 22px;
    width: 330px;
    padding-left: 15px;
    border: none;
    border-radius: 20px;
    outline: none; /*박스 클릭 시 생기는 border제거*/
}

/*돋보기 이미지*/
#search_btn_img{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

/*모집 중만 선택 박스*/
.study-list-header-content3{
    display: flex;
    margin-left: auto;
    margin-right: 70px;
}

/*모집 중만 보기 문구*/
.study-list-header-wrap-text{
    font-size: 30px;
    font-weight: 700;
    height: 38px;
    margin: auto 20px auto;
}

/*모집 중 스위치 버튼*/
.recruting-btn {
    width: 65px;
    height: 33px;
    text-align: center;
    margin-top: 22px;
}

#switch {
    position: absolute;
    /* hidden */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.switch_label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 58px;
    height: 28px;
    background: #fff;
    border: 2px solid #93B7FF;
    border-radius: 20px;
    transition: 0.2s;
}

/*커서가 버튼에 닿을 때*/
.switch_label:hover {
    background: #93B7FF;
}

.onf_btn {
    position: absolute;
    top: 4px;
    left: 3px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #93B7FF;
    transition: 0.2s;
}
  
/* checking style */
#switch:checked+.switch_label {
    background: #93B7FF;
    border: 2px solid #93B7FF;
}

#switch:checked+.switch_label:hover {
    background: #93B7FF;
}
  
/* 버튼 움직임 */
#switch:checked+.switch_label .onf_btn {
    left: 34px;
    background: #fff;
    box-shadow: 1px 2px 3px #00000020;
}

/*구분선*/
.study-list-line{
    border: 2px solid #F1F1F1;
    margin: 30px auto;
    width: 1600px;

}
/*태그 헤더---------------------------------*/
#study-list-tag{
    margin: 20px auto;
    padding: 0 40px;
}

.study-tag{
    background-color: white;
    border-radius: 30px;
    border: 1px solid #788088;
    text-align: left;
    margin-left: 20px;
}

.study-tag-content{
    display: flex;
    padding: 10px 15px;
}

/*태그 이미지*/
.study-tag-img{
    width: 43px;
    height: 43px;
}

.study-tag-text{
    font-size: 25px;
    height: 35px;
    margin-top: 4px;
    margin-left: 15px;
}