#study-list-main{
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*스터디 박스*/
.study-box{
    border: 2px solid #cbcbcb;
    width: 350px;
    height: 380px;
    border-radius: 30px;
    box-shadow: 3px 3px 3px 3px #cbcbcb;
    margin-left: 53px;
    margin-bottom: 30px;
}

.study-box-inbox{
    margin: 0 auto;
    padding: 10px 20px;
    text-decoration-line: none;
    color: black;
}

/*스터디 박스 헤더*/
.study-box-header{
    display: flex;
}

/*스터디 박스 헤더 태그*/
.study-box-header-content1, .study-box-header-content2{
    border: none;
    border-radius: 20px;
    font-size: 20px;
    padding: 5px 15px;
    background-color: #F1F1F1;
    
}

.study-box-header-content2{
    margin-left: 12px;
    background-color: #93B7FF;
    color: white;
}

/*스터디 박스 메인 박스*/
.study-box-main{
    height: 120px;
    padding: 20px 12px;
}

/*스터디 박스 메인 지역*/
.study-box-region{
    font-size: 20px;
    color: gray;
    margin-bottom: 10px;
}
/*스터디 박스 메인 제목*/
.study-box-title{
    font-size: 25px;
    font-weight: 600;
}

/*구분선*/
.study-box-inbox-line{
    margin: 15px auto;
    border: 1.5px solid #F1F1F1;
}

/*스터디 박스 하단 박스*/
.study-box-footer{
    display: flex;
}

.study-box-footer-content{
    display: flex;
    margin-left: auto;
    margin-right: 5px;
}

.study-box-footer-icon1{
    width: 30px;
    height: 30px;
}
.study-box-footer-icon2{
    width: 22px;
    height: 22px;
    padding-top: 4px;
    margin-left: 15px;
}

/*조회수, 댓글 개수*/
.study-box-footer-count{
    margin-left: 5px;
    color: gray;
    font-size: 22px;
}

/*찜버튼*/
#like-btn{
    border-radius: 20px;
    background-color: white;
    border: none;
    margin-left: 250px;
}

.btn_itemLike_icon{
    width: 48px;
    height: 48px;
}