#commnet_header{
    font-size: 28px;
    font-weight: 800;
}

#comment_write_input{
    border: 2px solid #cbcbcb;
    margin: 20px 0px;
    border-radius: 10px;
    padding: 20px;
    width: 850px;
    font-size: 20px;
    resize: none;
}

/*버튼 박스*/
#comment_btn_box{
    display: flex;
    width: 270px;
    margin: 0 0 0 auto;
}

/*댓글 취소 버튼*/
#comment_cancle {
    width: 130px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 15px;
    background: white;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    border: 2px solid #F2F2F2;
}

/*댓글 등록 버튼*/
#comment_register{
    width: 130px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #F2F2F2;
    margin-left: 10px;
    margin-right: 0px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    border: none;
}
