.WriteForm-1,.WriteForm-2{
    margin-left: 60px;
    margin-right: 60px;
}
#WriteForm-1txt{
    display: flex;
    height: 50px;
    align-items: center;
    
    margin-top: 50px;

    border-bottom: 1px solid #CCC;
    color: #7CA9FF;
    text-align: center;
    font-family: Coda Caption;
    font-size: 23px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.45px;
}
#WriteForm-1txt-info{
    margin: 20px 120px 20px 30px;
    width: 400px;
}

#WriteForm-1txt-info-select{
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
#WriteForm-option{
    border: 1px solid black;
    height: 40px;
    
    
    border-radius: 20px;
    
    background: #F1F1F1;
    align-items: center;
    text-align: center;
}

#WriteForm-2-info{
    margin: 20px 60px 20px 30px;
}

#s{
    border: 1px solid black;
    align-items: center;
    text-align: center;
    display: flex;
}