#Member-header{
  display: flex;
  text-decoration-line: none;
  padding: 20px;
  justify-content: center;
  background-color: #F1F1F1;
  padding-top: 25px;
}

#Member-logo-image {
  width: 50px;
}

#Member-logo-text {
  font-weight: bold;
  color: #93b7ff;
  font-size: 40px;
  margin-left: 10px;
  margin-top: 5px;
}
