.Signup-body {
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
  height: 700px;
}

/*회원가입 박스*/
.Signup-box {
  border-radius: 30px;
  margin-top: 5px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 450px;
  padding: 20px 20px 0px 20px;
  margin-bottom: 30px;
}

/* 화살표 */
#Signup-box-back_btn {
  width: 30px;
  display: flex;
  margin: 5px auto 15px 15px;
}

#Signup-box-Signup {
  display: flex;
  padding-left: 20px;
  padding-right: 60px;
  flex-direction: column;
  justify-content: center;
  color: #27272b;
  font-family: Montserrat;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.72px;
}

#Signup-box-Signup_txt {
  display: flex;
  padding-top: 12px;
  padding-left: 20px;
  padding-bottom: 12px;
  flex-direction: column;
  color: #788088;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

#Signup-Sinup-Link {
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
  flex-direction: column;
  justify-content: center;
  text-decoration-line: none;
}

#Signup-Sinup-Link-btn {
  display: block;
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background: #27272b;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.48px;
}
#search {
  width: 500px;
  margin-left: 270px;
  margin-top: 20px;
}

#search-id {
  flex-direction: column;
  justify-content: center;

  border: none;
  background-color: transparent;
  color: #788088;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}
#search-password {
  margin-left: 0;
  padding-left: 10px;
  flex-direction: column;
  justify-content: center;

  border: none;
  border-left: #788088 1px solid;
  background-color: transparent;
  color: #788088;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}
