#sign-form {
  margin: 20px 10px 20px 10px;
}

#Signup-id, #Signup-password, #Signup-name, #Signup-phone{
  height: 45px;
  width: 315px;
  border-radius: 10px;
  background: hsl(0, 0%, 95%);
  border: 0;
  color: #788088;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.48px;
  padding-left: 20px;
}

#Signup-password, #Signup-name, #Signup-phone{
  margin-top: 10px;
}

#SignupForm-Signup_btn, #SignupForm-Login_btn{
  height: 45px;
  width: 340px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.48px;
}

#SignupForm-Signup_btn{
  background: #93B7FF;
}

#SignupForm-Login_btn{
  background: #27272B;
  margin-top: 10px;
}