#sign-form {
  margin: 15px 28px 20px 28px;
}

#Signup-id, #Signup-password, #Signup-name, #Signup-phone{
  margin: 0 auto;
  height: 40px;
  width: 280px;
  border-radius: 10px;
  background: hsl(0, 0%, 95%);
  border: 0;
  color: #788088;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.48px;
  padding-left: 20px;
}

#SignupForm-Signup_btn, #SignupForm-Login_btn{
  height: 40px;
  width: 305px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.48px;
}

#SignupForm-Signup_btn{
  background: #93B7FF;
}

#SignupForm-Login_btn{
  background: #27272B;
  margin-top: 10px;
}

/*유효성 검사 메시지*/
.signup-error{
  height: 20px;
  margin-top: 3px;
  margin-left: 10px;
  font-size: 10px;
  color: red;
}